.form {
  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 4rem;
  }

  &__tag {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
  }

  &__subheading {
    margin-top: 2rem;
  }
}

.price {
  margin: 2rem;
}
